syntax: glob
build
doc/_build
*.pyc
*.so
*.out
*.f
*.hst
*.gz
*.c
*.cpp
env
pyoptsparse/pySNOPT/source
pyoptsparse/pyNLPQLP/source
*.egg-info

.idea/
/meson_build/
/dist/
/staging_dir/

*.lib

*.pdb

*.pyd
