import:
  - mdolab/.github:travis/jobs-env.yml
  - mdolab/.github:travis/before-install.yml # we skip importing the install step because this repo requires extra steps
  - mdolab/.github:travis/script.yml

env:
  global:
    - DOCKER_WORKING_DIR=/home/mdolabuser/packages/$REPO_NAME # pyOptSparse is under packages, so this should overwrite what's set in travis-env.yml
    - SNOPT_DIR=$DOCKER_WORKING_DIR/$REPO_NAME/pySNOPT/source
    - NLPQLP_DIR=$DOCKER_WORKING_DIR/$REPO_NAME/pyNLPQLP/source
    - AUTO_DOCKER_REPO=true # this will automatically set DOCKER_REPO depending on where the build originates
    - SKIP_COPY_DIR=true # skip copying directories for the pre_install step

install:
  # We back up the proprietary source codes first
  - if [ $DOCKER_REPO == "private" ]; then
      docker exec -it app /bin/bash -c "cp -r $SNOPT_DIR \$HOME/SNOPT && cp -r $NLPQLP_DIR \$HOME/NLPQLP";
    fi
  # We thrown away the existing repo in Docker, and copy the new one in-place
  - docker exec -it app /bin/bash -c "rm -rf $DOCKER_WORKING_DIR && cp -r $DOCKER_MOUNT_DIR $DOCKER_WORKING_DIR"
  # Copy back the proprietary codes
  - if [ $DOCKER_REPO == "private" ]; then
      docker exec -it app /bin/bash -c "cp -r \$HOME/NLPQLP/* $NLPQLP_DIR/ && cp -r \$HOME/SNOPT/* $SNOPT_DIR/";
    fi
  # Build and install
  - docker exec -it app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR && pip install -e ."

script:
  - |
    if [ $TEST_TYPE == "docker" ]; then
      # run tests
      docker exec -it app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR/test && testflo --pre_announce -v . --coverage --coverpkg $REPO_NAME"
    fi

after_success:
  # Coveralls
  - |
    if [ $TEST_TYPE == "docker" ]; then
      docker exec -it app /bin/bash -c ". $BASHRC && pip install coveralls";
      # move the coverage file to the root
      docker exec -it app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR/test && mv .coverage ../";
      # These environment variables must be exposed to coveralls for it to work (since we are using Docker)
      docker exec -e COVERALLS_REPO_TOKEN="$COVERALLS_REPO_TOKEN" -e TRAVIS="$TRAVIS"  -e TRAVIS_JOB_ID="$TRAVIS_JOB_ID" -e TRAVIS_BRANCH="$TRAVIS_BRANCH" -e TRAVIS_PULL_REQUEST="$TRAVIS_PULL_REQUEST" -it app /bin/bash -c ". $BASHRC && cd $DOCKER_WORKING_DIR && coveralls --rcfile=.coveragerc";
    fi
